{% extends 'base.html' %}
{% block title %}{{ post.post_title }} - Dori's Blog{% endblock %}
{% block content %}

<h1> {{ post.post_title }} </h1>
<h3>Author: {{ post.post_author.get_full_name }}</h3>
{{ post.post_headline }}
<hr>
{{ post.post_body }}


<br/>
<hr>
<h2>Comment Section:</h2>
{% if not post.comments.all %}
    There are no comments yet!
    <hr>
{% else %}
    {% for comment in post.comments.all %}
        <strong>
            {{comment.comment_name}} - {{comment.comment_date}}
        </strong>
        <br/>
        {{comment.comment_body}}
        <hr>
    {% endfor %}
{% endif %}


<br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back to Article List</a>

{% endblock %}